/* common css */
header{height: 100px;line-height: 100px; position: fixed; top:0; z-index: 99; background-color: white; border-bottom: 1px solid #d9d9d9; box-sizing: border-box;}
header h1{max-width: 185px;display: inline-block;}
header ul.head_ul{max-width: 820px;display: inline-block; text-align: center;}
header ul.head_ul li{max-width: 100px; display: inline-block; margin-right: 10px;margin-left: 10px;}
header ul.head_ul li a{font-size: 1.125rem;}
header div.line{width: 2px; height: 30px; display: inline-block; background-color: #d9d9d9; margin-right: 15px; margin-left: 15px; vertical-align: middle;}
header div.head_caption{max-width: 120px; display: inline-block}
header div.head_blog{max-width: 30px; display: inline-block}
header div.mo{width: 30px; height: 40px;display: none;float: right; margin-top: 30px; box-sizing: border-box;}
nav{width: 100%; height: 160px; background-color: white; position: fixed; z-index: 99; top: 100px; display: none;}
nav div.blank{max-width: 185px; display: inline-block}
nav ul.head_ul{max-width: 820px; display: inline-block; text-align: center;}
nav ul.head_ul div.line{width: 00%; background-color: #d0ab2f; height: 3px; position: relative; top:-14px; transition: .4s; margin: 0 auto;}
nav ul.head_ul li{display: inline-block;  max-width: 100px; margin-right: 10px; margin-left: 10px;  position: relative;}
nav ul.head_ul li ul{position: absolute; top: 0; box-sizing: border-box;}
nav ul.head_ul li ul li{margin: 10px 0px;}
nav ul.head_ul li ul li a{color: #666; font-size: 1rem;}
nav ul.head_ul li ul li a:hover{color: #d0ab2f;}
header ul li.head_ul_tag a:hover{color: #d0ab2f;}

div.mo_nav{width: 100%; height: 100vh; position: fixed; background-color: white; z-index: 90; top: 100px; display: none;}
div.mo_nav h4{height: 50px; line-height: 50px; border-bottom: 1px solid #d0d0d0; text-align: left; padding-left: 20px; box-sizing: border-box; font-size: 1.125rem; box-sizing: border-box;}
div.mo_nav ul{padding-left: 30px; border-bottom: 1px solid #d0d0d0; background-color: #f6f6f6; padding-top: 20px; padding-bottom: 20px; box-sizing: border-box;}
div.mo_nav ul li{margin: 20px 0px;}
div.mo_nav ul li a.active,div.mo_nav ul li a.active span{color: #d0ab2f;}

div.mo_nav ul.none{display: none;}
div.mo_nav ul li span{margin-right: 10px;}
div.mo_nav div.icons{text-align: center; margin-top: 50px;}
div.mo_nav div.icons img.call{max-width: 120px;}
div.mo_nav div.icons span{margin-left: 20px; margin-right: 10px;}

div.mo_nav div.icons img.blog{max-width: 30px;}

footer{width: 100%; height: 310px; background-color: #292929; position: relative; z-index: 80;}
footer div.wrap{padding-top: 50px; box-sizing: border-box;}
footer h2{width: 185px; margin: 0 auto; font-size: 1rem;}
footer ul{text-align: center; margin-top: 60px; margin-bottom: 20px;}
footer ul li{display: inline; margin: 0px 20px;}
footer ul li a{color: white;}
footer p{text-align: center; color: #d0d0d0; font-weight: 100; font-size: 0.875rem; line-height: 1.2rem; letter-spacing: 0.5px;}

/* mainpage css */
section.con1 div.slide{height: 750px; padding-top: 100px; position: relative; top: 100px;}
section.con1 div.slide div.wrap>img{width: 100%; height: 100%; position: absolute; left: 0; top: 0; z-index: -1;}
section.con1 div.slide div.wrap>video{min-width: 100%;  position: absolute; left: 0; top: -50px; z-index: -1; background-size: center;}

section.con1 h3,section.con1 h2{color: white; font-weight: 100;}
section.con1 h2{font-weight: bold; margin-top: 15px;}
section.con1 div.slider-2{background-image: url(../images/slider2.jpg);}
section.con1 a.slide_btn{display: block; width: 250px; margin: 40px auto; font-size: 1.125rem; padding: 20px; box-sizing: border-box; border: 1px solid white; text-align: center; color: white; font-weight: 100; cursor: pointer; transition: 0.3s ease-out; }
/* section.con1 div.slide_btn a{color: white;} */
section.con1 a.slide_btn:hover{background-color: white; color: #222;}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 100px;}
.swiper-pagination-bullet {
    opacity: 1;
    border: white solid 1px;
    background-color: transparent;
}
.swiper-pagination-bullet-active {
    border-color: #d6b545;
    background-color: #d6b545;
    
}
.swiper-button-prev,.swiper-button-next{color: white;}
.swiper-button-prev:hover{color: #d6b545;}
.swiper-button-next:hover{color: #d6b545;}
.swiper-button-prev{left: 10%;}
.swiper-button-next{right: 10%;}

section.con2{ position: relative; z-index: 1;}
section.con2 div.obj{position: absolute; width: 100%; height: 80%; background-color: #e8f1f3;}
section.con2 div.wrap{padding:0px;height: 550px; position: relative; padding-bottom: 0px;}
section.con2 div.panel{max-width: 450px; height: 100%;position: absolute;}
section.con2 div.panel1{left: 0; top: 100px;}
section.con2 div.panel2{max-width: 820px; top: -50px; background-color: white; right: 0; padding: 100px; box-sizing: border-box; height: 500px;}
section.con2 div.panel2 h3{text-align: left; font-weight: 200;}
section.con2 div.panel2 h3 span{font-weight: bold; font-size: 3.125rem; display: block; margin-top: 10px; margin-bottom: 30px;} 
section.con2 div.panel2 p{margin-bottom: 10px;}
section.con2 div.panel2 a.con2_btn{display: block; width: 250px; border: 1px solid #d6b545; padding: 25px 15px; color: #d6b545; margin-top: 60px; cursor: pointer; transition: 0.2s ease-in-out;}
section.con2 div.panel2 a.con2_btn:hover{background-color: #d6b545; color: white;}
section.con2 div.panel2 a.con2_btn img.active{display: none;}
section.con2 div.panel2 a.con2_btn:hover img.active{display: block;}
section.con2 div.panel2 a.con2_btn:hover img.beactive{display: none;}
section.con2 div.panel2 a.con2_btn img{width: 18px;float: right;}

section.con3{height: 340px; padding-top: 100px; box-sizing: border-box;}
section.con3 h4{margin-top: 20px;}

section.con4{height: 420px; background-color: #e8f1f3; text-align: center;}
section.con4 div.wrap{height: 100%; padding: 0px;}
section.con4 div.panel{width: 33%; height: 380px; max-width: 380px; display: inline-block; background-image: url(../images/con4-panel1.png); position: relative; top: -100px; vertical-align: middle; transition: 0.1s;}
section.con4 div.panel2{margin:0px 25px; background-image: url(../images/con4-panel2.png);}
section.con4 div.panel3{background-image: url(../images/con4-panel3.png);}
section.con4 div.panel a.panel_btn{display: block; max-width: 320px; background-color: white; font-size: 20px; height: 80px; line-height: 80px; padding:0px 30px; position: absolute; bottom: -40px; 
    left: 50%; transform: translateX(-50%); box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27);
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27); cursor: pointer; transition: .2s; text-align: left;}
section.con4 div.panel a.panel_btn div{width: 35px; height: 35px; display: inline-block; float: right; vertical-align: middle; margin-top: 22.5px; border: 1px solid #666666; color: #666; text-align: center; line-height: 32px; font-size: 35px;}
section.con4 div.panel a.panel_btn.active{background-color: #d6b545; color: white;}
section.con4 div.panel a.panel_btn.active>div{color: white; border-color: white;}

section.con5 h4{margin-top: 20px;}
section.con5 div.wrap{padding-bottom: 100px;}
section.con5 ul.news_section{margin-top: 50px;}
section.con5 ul.news_section li{height: 140px;  padding: 30px; box-sizing: border-box; transition: 0.1s; vertical-align: middle; cursor: pointer; background-color: #f6f6f6; margin-bottom: 10px;}
section.con5 ul.news_section li:hover{border: 1px solid #d6b545;}
section.con5 ul.news_section li div.header_new{width: 80px ; height: 80px;  float: left; padding: 20px 0px; box-sizing: border-box; text-align: center; font-size: 20px;color: white; line-height: 22px;}
section.con5 ul.news_section li div.header_new.sam{background-color: #389cfa;}
section.con5 ul.news_section li div.header_new.cheon{background-color: #6acf4b;}
section.con5 ul.news_section li div.header_new.bus{background-color: #d0ab2f;}

section.con5 ul.news_section li div.tits_new{width: 90%; float: right; height: 100%;}
section.con5 ul.news_section li div.tits_new p{margin-top: 10px; line-height: 24px; color: #666;}

section.con6{width: 100%; height: 470px; background-image: url(../images/con6-bg.png); }
section.con6 ul{text-align: center;}
section.con6 ul li{width: 24%; max-width: 270px; height: 270px; display: inline-block; margin: 0px 18px; border: 1px solid white; box-sizing: border-box;  vertical-align: middle; padding-top: 50px;}
section.con6 ul li:nth-child(1){margin-left: 0px;}
section.con6 ul li:nth-last-child(1){margin-right: 0px;}
section.con6 ul li img{width: 55px;}
section.con6 h4,section.con6 p{color: white; letter-spacing: -1px;}
section.con6 h4 {margin-top: 40px; margin-bottom: 15px;}
section.con6 p{font-weight: 100; line-height: 20px; font-size: 14px;}


/************ sub ************/
section.sub.con1{ padding: 150px 0px; margin-top: 100px;}
section.sub.con1 div.title{height: 100  px;}
section.sub.con1 div.title h3{margin-bottom: 15px; font-weight: bold;}
section.sub.con1 div.title h3.mid{font-weight: 100;}
section.complex.con1{background-image: url(../images/complex-con1-bg.jpg);}
section.saleguide.con1{background-image: url(../images/saleguide-con1-bg.jpg);}
section.filed.con1{background-image: url(../images/filed-con1-bg.jpg);}
section.about.con1{background-image: url(../images/about-con1-bg.jpg);}
section.consult.con1{background-image: url(../images/consult-con1-bg.jpg);}
section.news.con1{background-image: url(../images/news-con1-bg.jpg);}


section.complex.con2{height:100%; background-color: white;}
section.complex.con2 div.wrap{padding-top:100px;box-sizing: border-box; height: 100%;}
section.saleguide.con2{height: 700px; padding-top: 100px; background-color: white;}
section.saleguide.con2 h3{margin-bottom: 50px;}

section.filed.con2{padding-top: 100px; height: 750px; position: relative; background-color: white;}
/* section.filed.con2 div.wrap{height: 750px;} */
section.filed.con2 div.obj{position: absolute; width: 39.3%; height: 550px; bottom: 0px; background-color: #e8f1f3; right: 0;   }
section.filed.con2 div.galluery{width: 100%;  margin-top: 50px;}
section.filed.con2 div.galluery div.main_img{max-width: 950px; width: 75%; height:540px; float: left; position: relative;}
section.filed.con2 div.galluery div.main_img div.main_img_bg{width: 100%; height: 100%;  background-image: url(../images/filed-con2-gall1.jpg); position: absolute;}
section.filed.con2 div.galluery div.main_img div.navi{width: 150px; height: 70px; position: absolute; right:  0; bottom: 0; background-color: white;}
section.filed.con2 div.galluery div.main_img div.navi ul{width: 100%; height: 100%;}
section.filed.con2 div.galluery div.main_img div.navi ul li{width: 50%; height: 100%;float: left; background-size: 10px; cursor: pointer;}
section.filed.con2 div.galluery div.main_img div.navi ul li:nth-child(1){background-image: url(../images/left-gallery.png); ;}
section.filed.con2 div.galluery div.main_img div.navi ul li:nth-child(1):hover{background-image: url(../images/left-active-gallery.png);}
section.filed.con2 div.galluery div.main_img div.navi ul li:nth-child(2){background-image: url(../images/right-gallery.png); ;}
section.filed.con2 div.galluery div.main_img div.navi ul li:nth-child(2):hover{background-image: url(../images/right-active-gallery.png);}
section.filed.con2 div.galluery div.sub_img{max-width: 230px; width: 24%; height: 130px; margin-bottom: 6.5px; float: right;}

section.filed.con2 div.galluery div.sub_img.sub_img1{ background-image: url(../images/filed-con2-gall1.jpg);}
section.filed.con2 div.galluery div.sub_img.sub_img2{ background-image: url(../images/filed-con2-gall2.jpg);}
section.filed.con2 div.galluery div.sub_img.sub_img3{ background-image: url(../images/filed-con2-gall3.jpg);}
section.filed.con2 div.galluery div.sub_img.sub_img4{ background-image: url(../images/filed-con2-gall4.jpg);}


section.filed.con2 div.galluery div.sub_img>div.active{background-color: rgba(0,0,0,0.0);}
section.filed.con2 div.galluery div.sub_img>div{width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); cursor: pointer;}
section.filed.con2 div.galluery div.sub_img>div:hover{background-color: rgba(0,0,0,0.0);}

section.about.con2{height: 600px; background-color: white; position: relative;}
section.about.con2 div.obj{width: 50%; height: 80%; background-color: #e8f1f3; position: absolute; bottom: 0;}
section.about.con2 div.wrap{position: relative; height: 100%;}
section.about.con2 div.panel{max-width: 450px; height: 450px;}
section.about.con2 div.text_panel{max-width: 850px; height: 500px; background-color: white; position: absolute; bottom: 0; right: 0; padding: 80px; box-sizing: border-box;}
section.about.con2 div.text_panel p.tit{color: #999; margin-bottom: 40px;}
section.about.con2 div.text_panel h3{text-align: left; font-weight: 100; line-height: 3.5rem;}
section.about.con2 div.text_panel h3 span{font-weight: bold; font-size: 3.125rem; display: block;}
section.about.con2 div.text_panel p.desc{color: #666; line-height: 25px; margin-top: 30px;}
section.about.con2 div.text_panel p.desc span{color: #d0ab2f; display: block;}

section.consult.con2{background-color: white;}
section.consult.con2 div.wrap{ padding-top: 100px; padding-bottom: 100px; height: auto;}
section.consult.con2 div.btn{width: 200px; height: 50px; line-height: 50px; color: white; background-color: #d6b545; margin: 0px auto; position: relative; top: 50px;     -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27);
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27); text-align: center; cursor: pointer;}

section.news.con2{padding-top: 100px; padding-bottom: 150px; background-color: white; height: auto;}
section.news.con2 div.search_ui{height: 130px; background-color: #f6f6f6; margin: 40px auto; text-align: center; line-height: 130px;}
section.news.con2 div.search_ui select,
section.news.con2 div.search_ui input{width: 200px; display: inline-block;margin-right: 5px; height: 40px; vertical-align: middle;}
section.news.con2 div.search_ui input{width: 250px;}
section.news.con2 div.btn{width: 140px; height: 40px; line-height:40px; color: white; background-color: #d6b545; margin: 0px auto; text-align: center; cursor: pointer; display: inline-block; vertical-align: middle;}

section.news.con2 div.news_list{max-width: 1200px; margin: 0 auto;}
section.news.con2 div.news_list div.nav ul{width: 100%; height: 60px; margin-bottom: 40px;;}
section.news.con2 div.news_list div.nav ul li{width: 25%; border-bottom: 1px solid #222; height: 100%; line-height: 60px; float: left; text-align: center; cursor: pointer;  background-color: #f6f6f6; box-sizing: border-box;}
section.news.con2 div.news_list div.nav ul li.active{border:1px solid #222; border-bottom: 0; background-color: white;}
section.news.con2 div.news_list div.news_lists ul{margin-top: -30px;}
section.news.con2 div.news_list div.news_lists ul li{height: 140px; border-bottom: 1px solid #d0d0d0; padding-top: 20px; box-sizing: border-box; position: relative;}
section.news.con2 div.news_list div.head{width:100px; height: 100px; padding-top: 25px; line-height: 1.5rem; color: white; box-sizing: border-box; text-align: center; display: inline-block; vertical-align: middle}  
section.news.con2 div.news_list .blue{background-color: #328bfa; }
section.news.con2 div.news_list .green{background-color: #5fb535;}
section.news.con2 div.news_list .ameral{background-color: #2cbab2;}
section.news.con2 div.news_list div.prev_img{max-width: 160px; height: 100px ;display: inline-block; vertical-align: middle; margin-left: 20px;}  
section.news.con2 div.news_list div.prev_desc{max-width: 600px; height: 100px; display: inline-block; vertical-align: middle; margin-left: 10px; padding-top: 5px; overflow: hidden;}
section.news.con2 div.news_list div.prev_desc h4{text-align: left;margin: 15px auto; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
section.news.con2 div.news_list div.prev_desc > p{font-size: 0.875rem; color: #666;  max-height: 2rem; overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 3.6em;}
section.news.con2 div.news_list div.prev_desc span.mo{display: none; width:70px; text-align: center; vertical-align: middle; color: white; font-size: 0.875rem;}
section.news.con2 div.news_list div.prev_desc span.blue{background-color: #328bfa; }
section.news.con2 div.news_list div.prev_desc span.green{background-color: #5fb535; }
section.news.con2 div.news_list div.prev_desc span.ameral{background-color: #2cbab2;}

/* section.news.con2 div.news_list div.prev_desc div,section.news.con2 div.news_list div.prev_desc p{text-align: left!important; display: inline!important; background-color: rgb(255,255,255)!important;} */
section.news.con2 div.news_list div.join{max-width: 100px; display: inline-block; text-align: center; margin-left: 1%; color: #666; position: absolute; right: 0; top: 50%;}
section.news.con2 div.news_zoom{max-width: 1200px; margin: 0 auto;}
section.news.con2 div.news_zoom div.head_line{ padding: 20px 0px; border-top: 1px solid #222; border-bottom: 1px solid #d0d0d0; margin-bottom: 30px;}
section.news.con2 div.news_zoom div.head{width:80px; height: 80px; padding-top: 20px; line-height: 1.5rem; color: white; box-sizing: border-box; text-align: center; display: inline-block; vertical-align: middle; margin-left: 20px;}  
section.news.con2 div.news_zoom .blue{background-color: #328bfa; }
section.news.con2 div.news_zoom .green{background-color: #5fb535;}
section.news.con2 div.news_zoom .ameral{background-color: #2cbab2;}

section.news.con2 div.news_zoom div.title{width: 85%; display: inline-block; margin-left: 20px; vertical-align: middle;}
section.news.con2 div.news_zoom div.title h5{margin-bottom: 10px;}
section.news.con2 div.news_zoom div.title p{color: #999; font-size: 14px;}
section.news.con2 div.news_zoom div.title span{color: #999; margin: 10px;}
section.news.con2 div.news_zoom .blue{background-color: #328bfa; }
section.news.con2 div.news_zoom div.desc_area{text-align: center; padding: 50px 0px; border-bottom: 2px solid #d0d0d0;}
section.news.con2 div.news_zoom div.desc_area >a span{color: #999; text-decoration: underline; margin-left: 10px;}
section.news.con2 div.news_zoom div.desc_area>div{margin-top: 40px;}
section.news.con2 div.next_news{text-align: center; padding-top: 50px;}
section.news.con2 div.next_news img{width: 15px; padding-top: 10px;opacity: 0.6; cursor: pointer;}
section.news.con2 div.news_zoom div.desc_area img{width: auto;}

section.news.con2 div.next_news div.btn{background-color: white; height: 50px; line-height: 50px; border: 1px solid #666; color: #444; font-size: 14px; width: 200px;
    -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27);
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27); cursor: pointer; 
    transition: 0.1s ease-in-out;
    }
    section.news.con2 div.next_news div.btn:hover{background-color: #d6b545; color: white; border-color: rgba(0, 0, 0, 0);}
section.news.con2 div.next_news img:hover{opacity: 1.0;}
section.news.con2 div.next_news img.left{float: left; }
section.news.con2 div.next_news img.right{float: right;}


section.complex.con3 {padding-top: 0px;box-sizing: border-box;  height: 650px; position: relative;} 
section.complex.con3 div.obj_l{height: 400px; width: 35%; position: absolute; background-color: #e8f1f3; bottom: 0; z-index: -1;} 
section.complex.con3 h3{margin-bottom: 50px;}
section.complex.con3 div.panels{width: 100%; height: 450px;}
section.complex.con3 div.panel{width: 60%; height: 100%;  }
section.complex.con3 div.left_panel{max-width: 400px; float: left;}
section.complex.con3 div.right_panel{max-width: 750px; float: right;}
section.complex.con3 table{table-layout: fixed;}
section.complex.con3 table thead tr{border-top: 1px solid #222; border-bottom: 1px solid #222; background-color: #f0f0f0;}
section.complex.con3 table thead tr td{font-weight: bold; color: #222;}
section.complex.con3 table tbody tr{border-bottom: 1px solid #d0d0d0; height: 45px;}
section.complex.con3 table tr{height: 50px;}
section.complex.con3 table tr.gray{background-color: #f9f9f9;}
section.complex.con3 table tr th{width: 40%; border-right: 1px solid #d0d0d0; text-align: center; vertical-align: middle; }
section.complex.con3 table tr td{padding-left: 10px; box-sizing: border-box; font-size: 14px; color: #666;  vertical-align: middle;}
section.about.con3{padding: 0px; height: 750px; text-align: center;}
section.about.con3 p{color: #666; margin-top: 15px;}
section.about.con3 img{max-width: 950px; margin-top: 40px;}
section.consult.con3{width: 100%; height: 450px; background-image: url(../images/consult-con3-bg.jpg);padding-top: 0px;}
section.consult.con3 div.wrap{padding-top: 80px;}
section.consult.con3 div.wrap{color: white;}
section.consult.con3 div.wrap div.panel{width: 100%; height: 180px; background-color: white; margin-top: 30px;  padding-left: 50px; padding-top: 30px; box-sizing: border-box;}
section.consult.con3 img{max-width: 120px;}
section.consult.con3 div.wrap div.panel div.tit{ vertical-align:middle; max-width: 500px;display: inline-block; margin-left: 20px; position: relative; top: -15px;}
section.consult.con3 div.wrap div.panel div.tit h4{text-align: left; font-size: 40px; font-weight: 100; margin-bottom: 10px;}
section.consult.con3 div.wrap div.panel div.tit h3{text-align: left; font-size: 1.125rem; color: #666;}
section.consult.con3 div.wrap div.panel a.btn{display: inline-block; width: 200px; height: 50px; line-height: 50px; color: white; background-color: #d6b545; margin: 0px auto;    
    -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27);
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27); cursor: pointer; 
    margin-left: 23%;
    text-align: center;}



section.saleguide.con3 ul.tb_nav{ width: 98%; height: 35px; line-height: 35px;  margin: 0 auto; margin-top: 50px;}
section.saleguide.con3 ul.tb_nav li{background-color: #f6f6f6;  float: left; width: 33.3%; text-align: center; box-sizing: border-box; cursor: pointer;}
section.saleguide.con3 ul.tb_nav li.active{border: 1px solid #222; border-bottom: 0; background-color: white;}
section.saleguide.con3{padding-top: 0; height: auto;}
section.saleguide.con3 div.wrap{padding-top: 0px;}
section.saleguide.con3 div.wrap h3{font-weight: 100;}
section.saleguide.con3 div.wrap h3 span{font-weight: bold; font-size: 3.125rem;}
section.saleguide.con3 table{table-layout: fixed;}
section.saleguide.con3 table tr td{border-right: 1px solid #d0d0d0; vertical-align: middle; text-align: center;}
section.saleguide.con3 table tr td:nth-child(1){width: 90px;}
section.saleguide.con3 table tr td:nth-child(2){width: 150px;}
section.saleguide.con3 table tr td:nth-last-child(1){border-right: 0px;}
section.saleguide.con3 div.wrap h3{margin-bottom: 50px;}
section.saleguide.con3 table thead{border-top: 1px solid #222; border-bottom: 1px solid #222;}
section.saleguide.con3 table thead tr{height: 45px; background-color: #f0f0f0; border-bottom: 1px solid #d0d0d0;}
section.saleguide.con3 table tbody tr{height: 30px;}
section.saleguide.con3 table tbody tr td{font-size: 14px; color: #666;}
section.saleguide.con3 table tbody tr{border-bottom: 1px solid #d0d0d0;}
section.saleguide.con3 table .b_color{color:#478cd3}
section.saleguide.con3 table tfoot tr{height: 30px; border-bottom: 1px solid #222; background-color: #e8f1f3;}

section.filed.con3 {padding-top: 0px; height: auto; padding-bottom: 100px;}
section.filed.con3 div.wrap{padding-top: 0px;}
section.filed.con3 div.wrap ul{width: 100%; text-align: left; margin-top: 50px; padding-left: 10px;}
section.filed.con3 div.wrap ul li{max-width: 385px; height: 450px; background-color: #f0f0f0; display: inline-block; margin-bottom: 30px; vertical-align: middle;}
section.filed.con3 div.wrap ul li:nth-child(2),
section.filed.con3 div.wrap ul li:nth-child(5),
section.filed.con3 div.wrap ul li:nth-child(8){margin-left: 20px; margin-right: 20px;}
section.filed.con3 div.wrap ul li div.photo{width: 100%; height: 380px;}
section.filed.con3 div.wrap ul li div.photo>div{width: 100%; height: 100%; cursor: pointer; position: relative; opacity: 0.0; background-color: rgba(0,0,0,0.5); transition: 0.1s ease-in-out;}
section.filed.con3 div.wrap ul li div.photo>div img{width: 60px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
section.filed.con3 div.wrap ul li div.photo>div:hover{opacity: 1.0;}
section.filed.con3 div.wrap ul li div.tit{position: relative;; height: 70px;}
section.filed.con3 div.wrap ul li div.tit p{text-align: left; position: absolute; top: 50%; transform: translateY(-50%); padding-left: 30px;}
section.filed.con3 div.wrap ul li div.tit p span{display: block; margin-top: 10px; font-size: 0.875rem; color: #666;}

section.complex.con4{background-color: white;padding-top: 100px; height: 1350px;}
section.complex.con4 h2{max-width: 565px; margin: 0 auto; margin-bottom: 50px;}
section.complex.con4 table{width: 100%; margin-top: 40px;}
section.complex.con4 table thead{background-color: #f0f0f0; border-top: 1px solid #222; border-bottom: 1px solid #222;}
section.complex.con4 table thead td.active{border-top: 2px solid #f24836;}
section.complex.con4 table thead td,section.complex.con4 table thead th{font-weight: bold; color: #222;}
section.complex.con4 table thead td span{line-height: 20px; text-align: center; background-color: #222; color: white; display: inline-block; width: 20px; height: 20px; border-radius: 100%; font-size: 13px; padding: 2px;}
section.complex.con4 table thead td.active span{background-color: #f24836;}
section.complex.con4 table tr{height: 45px;}
section.complex.con4 table tr.gray_blue{background-color: #e8f1f3;}
section.complex.con4 table tr.gray{background-color: #f0f0f0;}
section.complex.con4 table tbody tr{height: 50px; border-bottom: 1px solid #d0d0d0;}
section.complex.con4 table th{width: 125px; vertical-align: middle; border-right: 1px solid #d0d0d0; color: #666; font-size: 14px;}
section.complex.con4 table td{width: 150px; vertical-align: middle; border-right: 1px solid #d0d0d0; font-size: 14px; color: #666;}
section.complex.con4 table td.active{border-right: 2px solid #f24836; border-left: 2px solid #f24836; color: #f24836;}
section.complex.con4 table td:nth-last-child(1){border-right: 0px;}
section.complex.con4 table tr.last_tr{border-bottom: 1px solid #222;}
section.complex.con4 table tr.last_tr td.active{border-bottom: 2px solid #f24836;}

section.saleguide.con4{background-color: white; height: auto; padding-bottom: 100px;}
section.saleguide.con4 div.wrap{padding-top: 100px; position: relative; text-align: left;}
section.saleguide.con4 h3{position: relative; z-index: 10;}
section.saleguide.con4 ul{ width: 39%; display: inline-block; margin-top: 45px; position: relative; z-index: 2; vertical-align: text-bottom;}
section.saleguide.con4 ul li{text-align: left; margin-bottom: 30px;}
section.saleguide.con4 ul li{font-size: 1.563rem;}
section.saleguide.con4 ul li span{width: 30px; height: 30px; text-align: center; line-height: 30px; vertical-align: top; background-color: #1065a8; font-size: 0.875rem; color: white; border-radius: 10px; margin-right: 10px; display: inline-block;}
section.saleguide.con4 ul li p{margin-top: 15px; padding-left: 40px; color: #666; ;}
section.saleguide.con4 img.sales-obj{position: absolute; right: 0px; max-width: 240px; z-index: 1; bottom: 0;}

section.filed.con4{background-color: white; height: auto; padding-bottom: 100px;}
section.filed.con4 div.video{width: 100%; height: auto; background-color: #f0f0f0; margin-top: 50px; position: relative;} 
section.filed.con4 div.video video{width: 100%; height: auto;}
section.filed.con4 div.video div.tit{position: relative;; height: 70px;}
section.filed.con4 div.video div.tit p{text-align: left; position: absolute; top: 50%; transform: translateY(-50%); padding-left: 30px;}
section.filed.con4 div.video div.tit p span{display: block; margin-top: 10px; font-size: 0.875rem; color: #666;}

section.about.con4{background-color: white; height: auto; padding-bottom: 50px;}
section.about.con4 div#map{width: 100%;height: 500px; background-color: #999; z-index: 1;}
section.about.con4 div.address{max-width: 1200px; height: 430px; background-color: white; z-index: 2; margin: 0 auto; position: relative; top: -100px; padding: 50px; box-sizing: border-box;}
section.about.con4 div.address li{text-align: left; font-size: 1rem; color: #666; height: 60px; line-height: 60px; border-bottom: 1px solid #d9d9d9;}
section.about.con4 div.address li:nth-last-child(1){border: 0px;}
section.about.con4 div.address li:nth-last-child(1) div{vertical-align: top;}
section.about.con4 div.address li img{max-width: 21px; margin-right: 20px; vertical-align: text-bottom;}
section.about.con4 div.address li div{display: inline-block; max-width: 200px; font-size: 1.125rem; color: #222;}
section.about.con4 div.address li div.desc{max-width: 70%;; display: inline-block; color: #666; font-size: 0.875rem;}
section.about.con4 div.address li span{display: inline-block; width: 40px; height: 40px; vertical-align: middle;line-height: 40px; color: white; font-size: 0.75rem; border-radius: 100%; text-align: center;}
section.about.con4 div.address li div.desc span{margin-left: 35px; margin-right: 5px;}
section.about.con4 div.address li div.desc span.bedge_1{margin-left: 0px;  background-color: #444;}
section.about.con4 div.address li div.desc span.bedge_2{background-color: #5fb624;}
section.about.con4 div.address li div.desc span.bedge_3{background-color: #7267dc; margin-left: 0px;}
section.about.con4 div.address li div.desc span.bedge_4{margin-left: 0px; background-color: #0db3b5;}
section.about.con4 div.address li div.desc span.bedge_5{background-color: #e69f16;}
section.about.con4 div.btn{width: 200px; height: 50px; line-height: 50px; color: white; background-color: #d6b545; margin: 0px auto; position: relative; top: 140px;     -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27);
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.27); cursor: pointer; }
    section.about.con4 div.btn a{color: white;}







    sup{vertical-align: text-top; font-size: 0.6rem;}