@media (max-width:1440px){
    header,nav{padding: 0px 10px; box-sizing: border-box;}

    section.con1 div.slider-1{background-image: url(../images/slider1.jpg);}
    section.con1 div.slide div.wrap>video{display: none;}
    section.con1 div.slide div.wrap>video{max-width: 120%;}
}

@media (max-width:1200px){
    html,body{font-size: 14px;}
    div.wrap{max-width: 1024px; margin: 0 auto;}
    header h1,nav div.blank{max-width: 150px;}
    header ul.head_ul,nav ul.head_ul{max-width: 680px;}
    header ul.head_ul li{margin: 0px 2px;}
    header div.line{margin:0px 10px}
    header div.head_caption{max-width: 100px; }
    header div.head_blog{max-width: 25px; }

    nav ul.head_ul li{margin: 0px 2px;}
    .swiper-button-prev{left: 2%;}
    .swiper-button-next{right: 2%;}
    section.con4 div.panel{max-width: 31%; height: 360px; top: -80px;}
    section.con4 div.panel2{margin: 0px 10px;}
    section.con4 div.panel div.panel_btn{max-width: 85%;}
    section.con6 ul li{max-width: 23%; margin: 0px 10px;}
}
@media (max-width:1024px){
    html,body{font-size: 12px;}

    header ul.head_ul{display: none;}
    div.wrap{max-width: 98%; width: 98%;}

    header div.line,header div.head_caption, header div.head_blog{display: none;}
    header div.mo{display: block; cursor: pointer; padding-top: 4px;}
    header div.mo div{width: 100%; height: 3px; background-color: #222;margin: 7px 0px;}
    header div.mo div:nth-last-child(1){background-color: #d6b545;}
    section.con6 ul li{max-width: 100%; width: 23%; margin: 0px 5px;}




}
@media (max-width:859px){
    html,body{font-size: 14px;}
    h2{font-size: 4rem;}
    h3{font-size: 2.875rem;}
    section.complex.con2 div.wrap{padding: 0px;}

    section.con2 div.panel{max-width: 60%;}
    section.con2 div.panel2{max-width: 90%;}
    section.con4 div.panel{height: 300px; top: -50px;}
    section.con4{height: 370px;}
    section.con4 div.panel div.panel_btn{font-size: 1.2rem; height: 60px; line-height: 60px;}
    section.con4 div.panel div.panel_btn div{width: 30px; height: 30px; line-height: 27px; margin-top: 14px;}
    section.con5 ul.news_section li{padding: 20px; height: 120px;}
    section.con5 ul.news_section li div.tits_new{width: 80%;}
    section.con6 ul li p {font-size: 0.875rem;}

    section.sub.con1 div.title h3{font-size: 42px; margin-bottom: 20px;}
    section.sub.con1 div.title h3.mid{font-size: 24px; line-height: 30px;}
    section div.wrap{padding-top: 50px;}
    section.complex.con2 div.wrap{padding-top: 50px;}
    section.complex.con3 div.panel{width: 100%; height: 100%;  }
    section.complex.con3{height: 1000px; margin-bottom: 50px;}
    section.complex.con3 div.left_panel{max-width: 420px; margin: 0 auto; float: inherit;}
    section.complex.con3 div.right_panel{max-width: 95%; float: inherit; margin: 0 auto; background-color: white;}
    section.complex.con3 div.obj_l{top: 20%;}

}
/* 모바일 */
@media (max-width: 767px) {
    .pc{display: none;}
    .mo{display: block;}

    html,body{font-size: 14px;}

    h3{font-size: 2.5rem; font-weight: bold;}
    header{height: 60px; line-height: 60px;}
    header div.mo{margin-top: 10px;}
    div.mo_nav{top: 60px;}
    section.con1{position: relative; z-index: 50; top: -40px;}
    section.con1 div.slide{height: 550px;}
    section.con1 div.wrap{padding-top: 50px;}
    .swiper-button-prev,.swiper-button-next{display: none;}
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{bottom: 40px;}
    .swiper-pagination-bullet{width: 12px; height: 12px;}
    section.con2 {height: 800px;}
    section.con2 div.panel{position: relative; z-index: 5;}
    section.con2 div.wrap{max-width: 100%; width: 100%;}
    section.con2 div.panel1 {top: -90px; max-width: 100%;}
    section.con2 div.panel2 {top: -150px; max-width: 95%; text-align: center; padding:40px 20px; margin: 0 auto; height: 360px;} 
    section.con2 div.panel2 div.con2_btn{margin: 35px auto;}
    section.con2 div.panel2 h3{text-align: center;}
    section.con2 div.panel2 h2{text-align: center;}
    section.con2 div.panel2 p{font-size: 1.2rem;}

    section.con3{padding-top: 50px; height: 250px;}

    section.con4{height: 500px;}
    section.con4 div.panel{width: 46%; max-width: 48%;margin: 5px; height: 250px; top:-80px}
    section.con4 div.panel div.panel_btn{bottom: 10px; max-width: 95%;}
    section.con5 ul.news_section li div.tits_new p{text-overflow:ellipsis; overflow: hidden; white-space:nowrap; -webkit-line-clamp: 2;}
   section.con6{height: 750px;}
   section.con6 ul li{width: 45%; max-width: 50%; margin: 0; margin: 5px;}
   section.con6 ul li:nth-child(1n){margin-left: 0px;}
   section.con6 ul li:nth-child(2n){margin-right: 0px;}
   footer{height: 200px;}
   footer ul{display: none;}
   footer h2{margin-bottom: 30px;}
   section.complex.con4 table td:nth-child(2){display: none;}
   section.complex.con4 table td:nth-child(3){display: none;}
   section.complex.con4 table td:nth-child(4){display: none;}
   section.complex.con4 table td:nth-child(6){display: none;}
   section.complex.con4 table td:nth-child(7){display: none;}
   section.complex.con4 table td:nth-child(8){display: none;}


   section.sub.con1 div.title{max-width: 70%; margin: 0 auto;}

}

@media (max-width: 564px) {
    h2{font-size: 3rem;}
    h5{font-size: 1.125rem;}
    section div.wrap{padding-top: 50px;}
    section.con1 h3{font-size: 1.875rem;}
    section.con2{height: 700px;}
    section.con2 div.panel2 h3{font-size: 24px;}
    section.con2 div.panel2 h3 span{font-size: 30px;}
    section.con2 div.panel2 p{font-size: 1rem;}
    section.con5 div.wrap{padding-bottom: 50px;}
    section.con5 ul.news_section li{padding: 5px;}
    section.con5 ul.news_section li div.tits_new {width: 80%;}
    section.con2 div.panel2{height: 330px;  padding: 40px 10px;}
    section.con2 div.panel2 div.con2_btn{padding: 20px 20px;}
    section.con5 ul.news_section li{height: 80px;}
    section.con5 ul.news_section li div.header_new{padding: 10px; height: 60px; width: 60px; font-size: 1rem;}
    section.con6{height:670px;} 
    section.con6 ul li{height: 250px; padding-top: 30px;}


}

@media (max-width: 414px) {
    section.con2{height: 600px;}
    section.con2 div.panel2{ top: -250px;}
    section.con2 div.panel2 h3{}
    section.con3{padding-top: 50px; position: relative;top: -50px}
    
    section.con4{height: 400px;}
    section.con4 div.panel{height: 200px;}
    section.con4 div.panel div.panel_btn{height: 50px; line-height: 50px; bottom: 5px; padding: 0px 15px;}
    section.con4 div.panel div.panel_btn div{margin-top: 10px;}
    section.con3 h3{float: left;;}
    section.con3 h4{float: left;;}
    section.con6{height:550px;} 
    section.con6 h4{margin-top: 25px;}
    section.con6 ul li{height: 210px;}

    section.complex.con3{height: 850px; margin-bottom: 50px;}




}
@media (max-width: 360px) {
    section.con3{padding-top: 60px;}
}