@charset "UTF-8";
html,body{position:relative; width:100%; height:100%; background:#fff}
html,body,ul,ol,img,div,span,iframe,a,p{margin:0; padding:0; border:0; outline:none}
html,body,ul,ol,li,img,div,span,iframe,a,p,input,textarea,select,i{
    font-family:'Roboto','Noto Sans KR', sans-serif; font-weight:400; font-style:normal; font-size:14px; word-break:keep-all; color:#222;
}
a{text-decoration:none; color:#666; font-family:'Roboto','Noto Sans KR', sans-serif}
a:hover,a:active,a:focus{text-decoration:none}
img{border:none; max-width:100%; width:auto; height:auto}
ul,ol{list-style:none}
iframe,object,video,embed{position:relative; top:0; left:0; max-width:100%; width: 100%;}
iframe{height: 800px;}

h2{
	font-size: 1.6rem;
	font-weight: bold;
}


header{
    width: 100%;
    height: 60px;
    background-color: #222;
    line-height: 60px;
    padding-left: 20px;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    box-shadow:  0 3px 5px rgba(0,0,0,0.3);
}
i{
    vertical-align: text-top;
    font-size: 20px;
}

header h1{color: white; font-weight: bold; font-size: 1.5rem;}
.head_wrap{position: fixed;; z-index:9; width:100%; height:60px; background:#222; box-shadow:0 3px 5px rgba(0,0,0,0.3)}
.head_wrap .head_bi{float:left}
.head_wrap .head_bi .bi_img{float:left; width:80px; margin:0 20px; padding-top:20px}
.head_wrap .head_bi h4{float:left; color:#fff; font-size:16px; font-weight:400; letter-spacing:0; margin-top:24px}
.head_wrap .head_info{float:right}
.head_wrap .head_info h5{display:inline-block; color:#fff; font-weight:300; letter-spacing:0; margin-right:50px}
.head_wrap .head_info span,.head_info a{display:inline-block; width:100px; height:30px; line-height:30px; font-size:14px; font-weight:400; text-align:center;margin-right: 20px; }
.head_wrap .head_info a.btn_info{background:#d9d9d9; color:#444}
.head_wrap .head_info span.btn_out{background:#f4514a; color:#fff; cursor: pointer;}
.head_wrap .head_info a{background-color: #1a93d9; color:white}
nav{
    width: 100%;
    max-width: 200px;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 60px;
    z-index: 5;
    background-color: #f0f0f0;
    box-sizing: border-box;
}
nav ul{
    width: 100%;
}
nav ul li{
    height: 50px;
    padding-left: 20px;
    border-bottom: 1px solid #d9d9d9;
    line-height: 50px;
    cursor: pointer;
}
nav i{font-size: 20px!important;}
tr.new_view_tr{cursor: pointer;}
.router-link-active{background-color: rgb(255,255,255);}

div.con_wrap{
    position: absolute;
    left: 250px;
    width: 80%;
}
div.con_wrap.login_page{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: gray;
    left: 0;
    z-index: 999;
    /* top: 60px; */
}
.login_wrap{
    position:relative; background:#000; padding:0; margin:0; width:100%; min-width:320px; min-height:100%;
    background:url('../images/login_bg.jpg') no-repeat center; background-size:cover;
}
.login_box{
    position:absolute; top:50%; left:50%; margin-top:-230px; margin-left:-150px;
    width:300px; text-align:center
}
.login_box h1{color: white;}
.login_box .login_bi{display:inline-block}
.login_box .login_input{margin-top:50px}
.login_box .login_input>div{position:relative}
.login_box .login_input i{position:absolute; top:10px; left:10px; color:rgba(255,255,255,0.3)}
.login_box .login_input input{
    width:100%; height:50px; padding:0 20px 0 40px; color:#fff; font-size:16px;
    background:transparent; border:0; border-bottom:1px solid rgba(255,255,255,0.3);
}
.login_box .login_input input::-webkit-input-placeholder{color:#f0f0f0; font-size:14px}
.login_box .login_input input:-ms-input-placeholder{color:#f0f0f0; font-size:14px}

.login_box .login_input button[type=submit]{
    display:block; border:none; outline:none; border-radius:3px; 
    width:100%; height:50px; line-height:50px; color:#fff; font-size:16px; cursor:pointer;
    margin-bottom:10px
}
.login_box .login_input button[type=submit].btn_admin{background:#e1b724}
.login_box .login_input button[type=submit].btn_pw{background:#222}
div.con_wrap div.content{
    width: 100%;
    min-width: 950px;
    padding: 30px;
    padding-top: 100px;
}
div.new_bord div.table_wrap{padding-top: 30px;}
div.new_bord div.filters b{margin-left: 10px;}
div.new_bord div.filters select {float: right; vertical-align: middle; width: 130px;}

div.consul_wrap div.filters span.share_btn{cursor: pointer; display: inline-block; float: right; height: 100%; width: 120px; height: 30px; margin-right: 15px; text-align: center; line-height: 30px; color: white;}
div.consul_wrap div.filters span.share_btn:hover{background:#036daa}

div.new_bord table{margin-top:20px;width: 100%; }
div.new_bord table tr{height: 70px; line-height: 70px; text-align: center;}
div.new_bord table thead tr{height: 40px; line-height: 40px; background-color: #d0d0d0;}
div.new_bord table thead tr td{border-top:1px solid #222; border-bottom: 1px solid #222; background-color: #f0f0f0;}

div.new_bord table tbody tr{border-bottom: 1px solid #d0d0d0;}
div.new_bord table tbody tr:hover{background-color: #f0f0f0;}
div.new_bord table tr td:nth-child(1){width: 10%;}
div.new_bord table tr td:nth-child(2){width: 10%;}
div.new_bord table tr td:nth-child(3){width: 10%;}
div.new_bord table tr td:nth-child(4){width: 60%;}
div.new_bord table tr td:nth-child(5){width: 10%;}
div.new_bord table tr td img{max-width:100px; vertical-align: middle;}

div.consul_bord div.table_wrap{padding-top: 30px;}
div.consul_bord div.filters b{margin-left: 10px;}
div.consul_bord div.filters select {float: right; vertical-align: middle; width: 130px;}
div.consul_bord table{margin-top:20px;width: 100%; }
div.consul_bord table tr{height: 40px; line-height: 40px; text-align: center;}
div.consul_bord table thead tr{height: 40px; line-height: 40px; background-color: #d0d0d0;}
div.consul_bord table thead tr td{border-top:1px solid #222; border-bottom: 1px solid #222; background-color: #f0f0f0;}

div.consul_bord table tbody tr{border-bottom: 1px solid #d0d0d0;}
div.consul_bord table tbody tr:hover{background-color: #f0f0f0;}
div.consul_bord table tr td:nth-child(1){width: 5%;}
div.consul_bord table tr td:nth-child(2){width: 5%;}
div.consul_bord table tr td:nth-child(3){width: 10%;}
div.consul_bord table tr td:nth-child(4){width: 20%;}
div.consul_bord table tr td:nth-child(5){width: 20%;}
div.consul_bord table tr td:nth-child(6){width: 20%;}
div.consul_bord table tr td:nth-child(7){width: 20%;}
div.consul_bord table tr td img{max-width:100px; vertical-align: middle;}

div.spot_bord h2{margin-bottom: 20px;}
div.spot_bord h2.sec_tit{margin-top: 30px;}
div.spot_bord div.filters b{margin-left: 10px;}
div.spot_bord div.filters select {float: right; vertical-align: middle; width: 130px;}

div.consul_wrap div.filters span.share_btn{cursor: pointer; display: inline-block; float: right; height: 100%; width: 120px; height: 30px; margin-right: 15px; text-align: center; line-height: 30px; color: white;}
div.consul_wrap div.filters span.share_btn:hover{background:#036daa}

div.spot_bord table{margin-top:20px;width: 100%; }
div.spot_bord table tr{height: 70px; line-height: 70px; text-align: center;}
div.spot_bord table thead tr{height: 40px; line-height: 40px; background-color: #d0d0d0;}
div.spot_bord table thead tr td{border-top:1px solid #222; border-bottom: 1px solid #222; background-color: #f0f0f0;}

div.spot_bord table tbody tr{border-bottom: 1px solid #d0d0d0;}
div.spot_bord table tbody tr:hover{background-color: #f0f0f0;}
div.spot_bord table tr td:nth-child(1){width: 5%;}
div.spot_bord table tr td:nth-child(2){width: 5%;}
div.spot_bord table tr td:nth-child(3){width: 10%;}
div.spot_bord table tr td:nth-child(4){width: 10%;}
div.spot_bord table tr td:nth-child(5){width: 60%;}
div.spot_bord table tr td img{max-width:100px; vertical-align: middle;}
div.spot_bord div.foot_btn .b_blue{margin-right: 10px;}


.page{clear:both; margin:30px auto 10px auto; text-align:center}
.page span{cursor: pointer; display:inline-block; border:1px solid #dfdfdf; width:40px; height:40px; line-height:40px; background:#fff; margin: 2px;}
.page span.on{border:1px solid #d90125; color:#d90125;}
.page span:hover{border:1px solid #d90125; color:#d90125;}
.page span.none{pointer-events:none; opacity:0.3}

/* 파일업로드 */
.input-file { display: inline-block; } 
.input-file [type="file"] { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0 none; } 
.input-file .file-label { display: inline-block; 
    min-width: 53px; height: 27px; line-height: 30px; 
    padding: 0 10px; border-radius: 2px; font-size: 13px; 
    background-color: #036daa; color: #fff; text-align: center; height: 100%; cursor: pointer;} 
.input-file .file-label.b_red{background-color: #f4514a; margin-left: 10px; cursor: pointer;}
.input-file .file-name { width: 300px; background: #f5f5f5; height: 30px; line-height: 26px; text-indent: 5px;  vertical-align: middle; display: inline-block}  


.new_bord h2, .consul_bord h2{margin-bottom: 20px;}
.new_bord h2.sec_tit{margin-top: 20px;}
.panel{border:1px solid #d9d9d9; background:#f0f0f0; padding:15px 25px 5px 25px; overflow:hidden}
.panel li{line-height: 40px;}
.panel li input,.panel li select{width: 100%; display: inline;}
.panel li textarea{margin-top: 10px; height: 450px; width: 100%; resize: none;}
.panel li.harf input,.panel li.harf select{width: 20%; padding-left: 10px;}
.panel li:nth-child(1n){width: 10%; float: left;}
.panel li:nth-child(2n){width: 90%; float: left;}

/* popup */
.pop-window{
    position:fixed; background:rgba(1,1,1,0.7);
    top:0; right:0; bottom:0; left:0; z-index:9999; opacity:0; display: none;
    transition:all 0.3s ease;
}
.pop-window.in{opacity:1}
.pop-window .alert {
    position:relative; margin:200px auto; overflow:hidden;
    background:#fff; width:350px; height:200px; box-sizing:border-box; 
}
.pop-window .alert2{height:230px}
.pop-window .alert_con{text-align:center; padding:0 20px 10px 20px}
.pop-window .alert_con i{display:inline-block; font-size:6em; margin-top:20px}
.pop-window .alert_con p{color:#666}
.pop-window .modal_foot{width:100%; padding:10px 0; text-align:center; margin-bottom:10px}
.pop-window .modal_foot span{display:inline-block; width:100px; height:30px; line-height:30px; color:#fff}

.pop-window .modal_foot a{display:inline-block; width:100px; height:30px; line-height:30px; color:#fff}

.pop-window span.b_red{background:#f4514a; cursor: pointer;}
.pop-window a.b_sgrey{background:#6f8191}
.pop-window span.b_sgrey{background:#6f8191; cursor: pointer;}

.pop-window a.b_blue{background:#1a93d9}
.pop-window span.b_blue{background:#1a93d9}
.pop-window ul.inputs{width: 100%; margin: 0 auto; text-align: center; padding-top: 10px;}
.pop-window ul.inputs li{margin-top: 10px;}
.pop-window ul.inputs input,select {display: inline; width: 80%;}

.pop-window i.red{color:#f4514a}
.pop-window i.blue{color:#1a93d9}

#modal-etc .alert{height: 360px;}
#modal-join .alert{height: 500px;}
#modal-etc input,select{width: 100%;}
#modal-etc .alert_con{padding-bottom: 0px;}

#modal-etc .input-file{text-align: left; float: left; width: 100%; margin-bottom: 20px;}
#modal-etc .file-label{width: 25%;}
#modal-etc .file-name{width: 65%; float: right;}
/* modify */
.pop-window .mban_input {
    position:relative; margin:200px auto; overflow:hidden;
    background:#fff; width:440px; height:auto; box-sizing:border-box; 
}

div.order{border:1px solid #444; margin-top: 20px;}
div.order table.consul_tb{width: 100%;}
div.order table.consul_tb th,.order table td{border:none; padding:20px 10px}
div.order table.consul_tb th{width:15%; border-bottom:1px solid #e0e0e0; background-color: #f0f0f0;} 
div.order table.consul_tb tr:last-child th,.order table tr:last-child td{border-bottom:0}
div.order table.consul_tb td{text-align:left; border-bottom:1px solid #e0e0e0; width: 100%;}

td.tb_cursor{cursor: pointer;}

/*user info*/
div.user_info{width: 30%; height: 150px; border: 1px solid #dfdfdf; background-color: white; display: inline-block; margin-right: 10px; box-shadow:  0 3px 5px rgba(0,0,0,0.3);}

div.content.user_bord h2{margin-bottom: 50px;}


div.user_bord div.table_wrap{padding-top: 30px;}
div.user_bord div.filters b{margin-left: 10px;}
div.user_bord div.filters select {float: right; vertical-align: middle; width: 130px;}
div.user_bord table{margin-top:20px; width: 100%;}
div.user_bord table tr{height: 40px; line-height: 40px; text-align: center;}
div.user_bord table thead tr{height: 40px; line-height: 40px; background-color: #d0d0d0;}
div.user_bord table thead tr td{border-top:1px solid #222; border-bottom: 1px solid #222; background-color: #f0f0f0;}

div.user_bord table tbody tr{border-bottom: 1px solid #d0d0d0;}
div.user_bord table tbody tr:hover{background-color: #f0f0f0;}
div.user_bord table tr td img{max-width:100px; vertical-align: middle;}

div.user_bord table tr td:nth-child(1){width: 5%;}
div.user_bord table tr td:nth-child(2){width: 15%;}
div.user_bord table tr td:nth-child(3){width: 15%;}
div.user_bord table tr td:nth-child(4){width: 20%;}
div.user_bord table tr td:nth-child(5){width: 20%;}
div.user_bord table tr td:nth-child(6){width: 15%;}
div.user_bord table tr td:nth-child(7){width: 15%;}

div.user_tool{width:100%; height: 250px; border: 1px solid #d0d0d0; box-shadow:  0 3px 5px rgba(0,0,0,0.1); padding:15px; box-sizing: border-box;}
div.user_tool ul{width: 30%; margin-top: 5px; padding-top:5px; box-sizing: border-box; display: inline-block}
div.user_tool ul li{
    margin-bottom: 10px;
    margin-top: 10px;
}
div.user_tool ul li span{
    margin-left: 10px;
}
div.user_tool div.btns{width: 30%;float: left; margin-top: 15px;}
div.user_tool div.btns span{width: 100px; height: 25px; line-height: 25px; color: white; display: inline-block; text-align: center; margin-right: 5px; margin-left: 5px; vertical-align: middle;} 
div.user_tool div.tb_box{
    width: 50%;
    height: 180px;
    float: right;
    overflow-y: scroll;
}
div.user_tool table{
    width: 100%; margin-top: 5px;
}
div.user_tool table tr{height: 25px; line-height: 25px;}
div.user_tool table tr td:nth-child(1){width: 20%;}
div.user_tool table tr td:nth-child(2){width: 20%;}
div.user_tool table tr td:nth-child(3){width: 40%;}
div.user_tool table tr td:nth-child(4){width: 20%;}

div.mp4_upload{width: 100%; height: 60px; border: 1px solid #d0d0d0; background-color: #f0f0f0; padding-top: 15px; box-sizing: border-box;}
div.mp4_upload h3{display: inline-block; width: 10%; font-size: 1.0rem; padding-left: 15px;}
div.mp4_upload .input-file .file-name{width: 85%; line-height: 30px; margin-left: 10px;}
div.mp4_upload .input-file-spot .file-name-spot{width: 85%; line-height: 30px; margin-left: 10px;}
div.mp4_upload .input-file{width: 85%;}

/* btns */
.btn_wrap{width:100%; padding:30px; text-align:center; box-sizing:border-box}
.btn_wrap span,.btn_wrap a{display:inline-block; margin:0 5px; width:150px; height:40px; line-height:40px; color:#fff; text-align:center}
.b_add{display:inline-block; width:150px; height:40px; line-height:40px; font-size:16px; text-align:center; color:#fff}
.foot_btn{width:100%; margin:30px 0; text-align:right}
.b_yellow{background:#e1b724}
.b_yellow:hover{background:#b38c06}
.b_red{background:#f4514a;cursor: pointer;}
.b_red:hover{background:#c82821}
.b_sgrey{background:#6f8191;cursor: pointer;}
.b_sgrey:hover{background:#415566}
.b_blue{background:#1a93d9; cursor: pointer;}
.b_blue:hover{background:#036daa}
/* btns */
